<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art-Birds</title>
{{!--     

                        THIS IS HOME PAGE

 --}}

    <h4 id="opener">
        <span style="font-size: 45px;color: #e6ebef;"><i>Art</i></span>
        <span style="font-size: 45px;color: rgb(233, 167, 15);"> <i>Birds</i></span>
     </h4>
     <!--link to css and js-->
     <link rel="stylesheet" href="/public/styles.css">
     <script src="script.js"></script>
     <!--headings-->
     <section class="et-hero-tabs">
        <h1 style="color: #e6ebef;"><i><u>>> The  Artist  see  what  others  only  catch  a  glimpse  of !!!</u></i></h1>
        <h3 style="color: #edf2f5ee;"><i>A beautiful  Art is Harmony..</i> </h3>
               <img src="wallpaper2.jpg" style="width:105%;height:90%;">
     </section>
     
    <!--background-image-->
     
       
     <!--login-button-->
     <tr>
        <td>
            <a href="/options">
            <div class="wrapper">
                <div class="link_wrapper">
                  <a1 href="/option">More images</a>
                    
                    <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                      <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
                    </svg>
                  </div>
                </div>
                
              </div>
            </a>
        </td>
        </tr>
   
</head>
<body>
   
      <!--tabs-->
      <div class="et-hero-tabs-container">
         <a class="et-hero-tab" href="#tab-Orignals"><i>Orignals</i></a>
         <a class="et-hero-tab" href="#tab-Paintings"><i>Paintings</i></a>
         <a class="et-hero-tab" href="#tab-Sculptors"><i>Sculptors</i></a>
         <a class="et-hero-tab" href="#tab-Fine-Arts"><i>Fine-Arts</i></a>
         <a class="et-hero-tab" href="#tab-Potraits"><i>Potraits</i></a>
         <span class="et-hero-tab-slider"></span>
     </div>
   
     
       <!--MAIN-->
       <main class="et-main">
        < class="et-slide" id="tab-Originals">
         <h1 style="color: whitesmoke;text-align: center;">Originals</h1>
         <h3 style="color: rgba(245, 245, 245, 0.422);text-align: center;">All Originals</h3>  
     
         <div class="images2">
            <!--
             <img style="height: 300px;float:max-content;" src="1475905025361_35_24_Beauty_of_Queen_in_hand_3500_selling__30340.1506574492.jpg">
             <img style="height: 300px;float:initial;width: 200px;" src="Glow-of-Hope-–-SL-Haldankar-Art.webp">
             <img style="height: 300px;float:inherit;width: 250px;"src="Shakuntala-–-Raja-Ravi-Verma-Art.webp">
             <img style="height: 300px;float:initial; width: 360px;" src="chidiya.jpg" >
             <img style="height: 300px;float: right;"src="Tamil-Girl-with-Her-Parrots-–-S-Elayaraja-Art.webp">
             <br><br>
             <img style="height: 300px;width:500px;float:none;"src="krishna-spring-in-kulu-1930.webp">
             <img style="height: 300px;float:inline-start;"src="Painting-by-Shri.Ashish-Kachhwaha_2-768x1024.avif"> 
             
             <img style="height: 300px;float:inline-start;"src="images (1).jpg"> 
                
             <img style="height: 300px;float: left;" src="download (3).jpg">
            <img style="height: 300px;width: 350px;float: max-width: ;" src="download (4).jpg">
            <img style="height: 300px;width:max-content;float: right;" src="download.jpg">
            <img style="height: 300px;width: 300px;float:max-width ; " src="mm1374-mad-masters-original-imaf7fhh3zqh8hqf.webp">
            <img style="height: 300px;float:max-width; width:max-content" src="b7bb904f1ec437ff2861df49d0df292a--oil-painting-techniques-amazing-paintings.jpg">
            -->
            <img style="height: 250px;float:max-width; width: 230px;" src="Glow-of-Hope-–-SL-Haldankar-Art.webp">
            <img style="height: 250px;width: 400px;;float:initial;" src="jesus.jpg">
            <img style="height: 250px;width: 400px;float: max-width: ;" src="radha-krishna.jpg">
            <img style="height: 220px;float: left;width: 200px;" src="1475905025361_35_24_Beauty_of_Queen_in_hand_3500_selling__30340.1506574492.jpg">
            <img style="height: 220px;float:max-width; width:250" src="folk.jpg"> 
            <img style="height: 220px;width: 200px;float:max-width ; " src="Shakuntala-–-Raja-Ravi-Verma-Art.webp">
            <img style="height: 220px;float:max-width; width:max-content;" src="download (1).jpg"> 
            <img style="height: 220px;float:max-width; width:max-content;" src="Painting-by-Shri.Ashish-Kachhwaha_2-768x1024.avif">
            <img style="height: 220px;float:max-width; width:max-content;" src="Tamil-Girl-with-Her-Parrots-–-S-Elayaraja-Art.webp">
            <img style="height: 220px;float:max-width; width:max-content;" src="chidiya.jpg">
             <img style="height: 220px;float:max-width; width:max-content;" src="download (7).jpg">
            
         </div>

        </section>
                  
        <section class="et-slide" id="tab-Paintings">
         <h1 style="color: whitesmoke;">Paintings</h1>
         <h3 style="color: rgba(245, 245, 245, 0.422);">All paintings</h3>
         <div class="images3">
            <img style="height: 220px;float: left;" src="download (3).jpg">
            <img style="height: 220px;width: 350px;float: max-width: ;" src="download (4).jpg">
            <img style="height: 220px;width:max-content;float: right;" src="download.jpg">
            <img style="height: 220px;width: 300px;float:max-width ; " src="mm1374-mad-masters-original-imaf7fhh3zqh8hqf.webp">
            <img style="height: 220px;float:max-width; width:max-content" src="b7bb904f1ec437ff2861df49d0df292a--oil-painting-techniques-amazing-paintings.jpg">
            <img style="height: 220px;float:max-width; width:max-content" src="finEART.jpg"> 
            <img style="height: 220px;float:max-width; width:max-content;" src="ancientpicture.jpg"> 
        </div>
        <section class="et-slide" id="tab-Orignals"> 
           </section>
     </section>

     <section class="et-slide" id="tab-Sculptors">
         <h1 style="color: whitesmoke;">Sculptors</h1>
         <h3 style="color: rgba(245, 245, 245, 0.422);">All Sculptors</h3>

         <div class="images3">
            <img style="height: 220px;float: left;" src="s1.jpg">
            <img style="height: 220px;width: 350px;float: max-width: ;" src="s2.jpg">
            <img style="height: 220px;width:max-content;float: right;" src="s3.jpg">
            <img style="height: 220px;width: 300px;float:max-width ; " src="s4.jpg">
            <img style="height: 220px;float:max-width; width:max-content" src="s6.jpg">
            <img style="height: 220px;float:max-width; width:max-content" src="s5.jpg"> 
            <img style="height: 220px;float:max-width; width:max-content;" src="s8.jpg"> 
        </div>
     </section>

     <section class="et-slide" id="tab-Fine-Arts">
         <h1 style="color: whitesmoke">Fine-Arts</h1>
         <h3 style="color: rgba(245, 245, 245, 0.422);">All Fine-Arts</h3>

        <div class="images3">
            <img style="height: 220px;float: left;" src="budh.jpg">
            <img style="height: 220px;width: 350px;float: max-width: ;" src="abstract.jpg">
            <img style="height: 220px;width:max-content;float: right;" src="Bharat-Mata-Abindranath-Tagore-Art.webp">
            <img style="height: 220px;width: 300px;float:max-width ; " src="pp.jpg">
            <img style="height: 220px;float:max-width; width:max-content" src="snow.jpg">
            <img style="height: 220px;float:max-width; width:max-content" src="fineA.jpg"> 
            <img style="height: 220px;float:max-width; width:max-content;" src="vanG.jpg"> 
           
        </div>
        <section class="et-slide" id="tab-Orignals"> 
           </section>
     </section>
     
     <br>
     <br>
     <section class="et-slide" id="tab-Potraits">
         <h1 style="color: whitesmoke;">Potraits</h1>
         <h3 style="color: rgba(245, 245, 245, 0.422);">All Potraits</h3>

         <div class="images3">
            <img style="height: 220px;float: left;" src="hhh.jpg">
            <img style="height: 220px;width: 350px;float: max-width: ;" src="sss.jpg">
            <img style="height: 220px;width:max-content;float: right;" src="myDrawing.jpg">
            <img style="height: 220px;width: 300px;float:max-width ; " src="sketch.jpg">
            <img style="height: 220px;float:max-width; width:max-content;" src="mahavir.jpg"> 
            <img style="height: 220px;float:max-width; width:max-content" src="woman.jpg"> 
            <img style="height: 220px;float:max-width; width:max-content;" src="dragonGirl.jpg">
            <img style="height: 220px;float:max-width; width:max-content" src="pt.jpg">
        </div>

     </section>
     <br>
     <br>
 </main>
 

   
</body>
<script>
   var first = document.querySelector("h1 span:first-child");
var last = document.querySelector("h1 span:last-child");

function closer() {
first.classList.add("closer");
last.classList.add("closer");
first.innerHTML = "@"
last.innerHTML = "DUDLEYSTOREY"
}
var timeoutID = window.setTimeout(closed, 6000);
// bring on the Web Animations API: this is a very hacky way of saying "when the first scroller animation ends, switch out the content of the span elements and add classes to them. "
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });

</script>
<style>
   .wrapper{
    position: fixed;
    top: 10%;
    right: -5%;
    transform: translate(-50%, -50%);
  }
  
  .link_wrapper{
    position: relative;
  }
  
  a1{
    
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill:  whitesmoke;
    transition: all .35s;
  }
  
  a1:hover{
    
    width: 200px;
    border: 3px solid whitesmoke;
    background: transparent;
    color:  rgb(132, 96, 6);
  }
  
  a1:hover + .icon{

    border: 3px solid #2ecc71;
    right: -25%;
  }
body {
    font-family: "Century Gothic", 'Lato', sans-serif;

    background-color: rgb(31, 0, 0);
}

@font-face {
    font-family: Orphan;
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/orphan_2.woff') format('woff');
    font-weight: normal;
    font-weight: 70;
    font-style: normal;
}
@keyframes scroller {
    80% { text-indent: 1%; }
    100% { text-indent: 3%; }
} 

@keyframes fader {
  to { opacity: 0; }
}
* { box-sizing: border-box; } 
h4 { 
  width: 90%;
  overflow: hidden;
  
  /* just in case someone forgets to turn on CAPS */
}
h4 span { 
  display: inline-block;
  width: 15.5%;
  overflow: hidden;
  line-height: 1.5;
  animation: scroller 4s 1.5s 100 forwards, fader 2s 5s; 
/* initiates the "scroller" animation ten, each time for fivde seconds, with a 1 second pause beforehand. The "fader" animation takes place just once, over 1 second, with a five second pause beforehand */
} 
h4 span:first-child { 
  text-indent: 70%; 
  /* disappers text in the first (overflow: hidden) span by pushing it all the way to the right. Curiously, Webkit works with a value of 50%, but Firefox needs 100%; */
  border-right: .5vw solid #000; 
}
h4 span:last-child { 
  text-indent: 100%;  
  /* the opposite indent value for text in the right <span> element */
  border-left: .5vw solid #000;
}
h4 span.closer:first-child { 
  width: 10%; 
/* shifted due to character length in the second part of the animation: this could also be automated by JavaScript counting the number of chars in each span and dividing the space appropriately */
}
h4 span.closer:last-child { width: 70%;  }
a {
text-decoration: none;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.cont {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 650px;
    margin: 0 auto 100px;
    background: #fff;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3), 10px 10px 15px rgba(70, 70, 70, 0.15), inset -10px -10px 15px rgba(255, 255, 255, 0.3), inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}
button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("ext.jpg");
    opacity: .8;
    background-size: cover;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 245, 245, 0);
}

.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}

.img__btn span.m--in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}
.et-main .images2{

}
.et-slide .images2{
    display: grid;
    heigth: 0.1px;
    
}


label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

.fb-btn span {
    font-weight: bold;
    color: #455a81;
}

.sign-in {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.et-hero-tabs,
.et-slide {
display: flex;
flex-direction: column;
justify-content: left;
align-items: left;
height: 100vh;
position: relative;
background-color: rgb(31, 0, 0); 
text-align: center;
padding: 0 2em;
}
.et-hero-tabs-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    nav-up: 0;
    width: 10%;
    height: 770px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-decoration-break: clone;
    background:  rgb(31, 0, 0);
    z-index: 10;
   
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration:underline;
    border-left: #000;
    flex: 1;
    color: whitesmoke;
    text-decoration-color: rgb(184, 135, 70);
    letter-spacing: 0.2rem;
	transition: all 0.5s ease;
	font-size: 1.3rem;
	
    
 
     
}
    

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: right 0.3s ease;
}

@media (min-width: 800px) {
	
}
</style>


</html>